@model IEnumerable<AerithsPieShop.Models.Pie>

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Aerith's Pie Shop</title>
</head>
<body>
	<h1>@ViewBag.CurrentCategory</h1>
</body>
</html>
